body {
  font-family: 'Lato', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 15px;
}

#site {
  margin: 0 auto;
  width: 650px;
}

p, li {
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
